*.class
*.log
*.zip
*.gz
*.jpeg
*.jpg
*.png
*.parquet
*.iml
*.ipr
*.iws
.idea
out
*~

.settings/
.cache/
.history/
.lib/
dist/*
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/*-shim.sbt
project/project/
project/target/
.project
.classpath
.cache
*.tsv
.bloop/
.metals/
.vscode/

.scala_dependencies
.worksheet

**/.idea/
**/target/
**/*.iml
